.git
.github
node_modules
vendor
.env
.env.backup
*.sql
*.sqlite
.DS_Store
.AppleDouble
.phpunit.cache
tests
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
npm-debug.log
yarn-error.log
vite.config.js.timestamp*
